<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sunset Automobile</title>
    <link rel="stylesheet" type="text/css" href="/css/navigation.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
    <header>
        <nav class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/haris/add-product">Add Vehicle</a></li>
                <li><a href="/haris/shop">Inventory</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero-container">
        <h1 class="main-heading">Sunset Automobile</h1>
        <h2 class="hero-sub-heading">Excellence in Automobile Statistics, Facts, & Sales</h2>
        <div class="btns">
            <a href='/haris/shop'>View Availability</a>
            <a href='/haris/add-product'>Sell Your Vehicle</a>
        </div>
    </div>
    <div class="video">
        <iframe class="vid" width="1280" height="720" src="https://www.youtube.com/embed/gJ7SljP_vuA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="anim">
        <div class="anim-before"></div>
        <div class="anim-shape">
            <div class="image-container">
                <img src="./images/logos/Ferrari.png" width="50%" />
            </div>
            <div class="image-container">
                <img src="./images/logos/Lamborghini.png" width="70%" />
            </div>
            <div class="image-container">
                <img src="./images/logos/Rolls Royce.png" width="50%" />
            </div>
            <div class="image-container">
                <img src="./images/logos/Aston Martin.png" width="50%" />
            </div>
            <div class="image-container">
                <img src="./images/logos/Bentley.jpg" width="50%" />
            </div>
        </div>
        <div class="anim-shape-two">
            <div class="image-container">
                <img src="./images/logos/Ferrari.png" width="50%" />
            </div>
            <div class="image-container">
                <img src="./images/logos/Lamborghini.png" width="70%" />
            </div>
            <div class="image-container">
                <img src="./images/logos/Rolls Royce.png" width="50%" />
            </div>
            <div class="image-container">
                <img src="./images/logos/Aston Martin.png" width="50%" />
            </div>
            <div class="image-container">
                <img src="./images/logos/Bentley.jpg" width="50%" />
            </div>
        </div>
        <div class="anim-after"></div>
    </div>
    <!-- <button class="main-heading-btn">Click me to change the main heading!</button> -->
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>