<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/navigation.css" />
    <link rel="stylesheet" type="text/css" href="/css/learn-more.css" />
    <title>Learn More</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/haris/add-product">Add Product</a></li>
                <li><a href="/haris/shop">Inventory</a></li>
            </ul>
        </nav>
    </header>
    <h1 class="main-heading"></h1>
    <div class="sub-heading-container">
        <!-- <p class="sub-heading-country"></p> -->
        <!-- <div class="divider"></div> -->
        <p class="sub-heading-year-founded"></p>
    </div>
    <div class="main-heading-description-divider"></div>
    <div class="description-container">
        <p class="description"></p>
    </div>
    <div class="video"></div>
    <script type="text/javascript" src="/js/learn-more.js"></script>
</body>
</html>