<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Added</title>
    <link rel="stylesheet" type="text/css" href="/css/navigation.css" />
</head>
<body>
    <header>
        <nav class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/haris/add-product">Add Product</a></li>
                <li><a href="/haris/shop">Inventory</a></li>
            </ul>
        </nav>
    </header>
    <h1>Product has been added!</h1>
</body>
</html>