<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="/css/shop.css" />
    <link rel="stylesheet" type="text/css" href="/css/navigation.css" />
</head>
<body>
    <header>
        <nav class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/haris/add-product">Add Vehicle</a></li>
                <li><a href="/haris/shop">Inventory</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="main-heading">Available Vehicles</h1>
        <!-- <p class="sub-heading">List of all the products...</p> -->
        <div class="main-container"></div>
        <div class="page-buttons">
            <button class="page-buttons-button pageNumberButton"></button>
            <button class="page-buttons-button nextButton">Next</button>
        </div>
    </main>
    <script type="text/javascript" src="/js/shop.js"></script>
</body>
</html>